/* About Us Section Styling */
.about-section {
    font-family: "Inter", sans-serif;
    text-wrap: wrap;
    background-color: #F4F4F4;
    padding-left: 20px;
}

.about-section h2,
.about-team-section h2 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 2em;
}

.about-section p {
    margin-bottom: 20px;
    font-size: 1.25em;
    line-height: 1.5;
}

.about-feature-image {
    width: 100%;
    height: 350px;
    display: flex;
    overflow: hidden;
}

/* About Us - Our Team Section Styling */
.about-team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-top: 40px;
}

.about-team-section p {
    font-size: 1.25em;
    margin-bottom: 20px;
    padding: 10px 100px;
    text-align: center;
}

.team-card-content {
    text-align: center;
    font-size: 1.25em;
}

.team-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.team-card {
    width: 300px;
    margin: 20px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background: white;
}

.team-card:hover {
    transform: translateY(-10px);
}

.team-card h4 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.team-card h5 {
    margin-top: 5px;
    font-size: 1em;
    font-weight: 500;
    color: #00AFB9;
    font-style: italic;
}

.team-card p {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    padding: 10px;
}
