body {
    width: 100vw;
}

/* Font Styling */
.events-content h2,
.ticket-pricing-section h2,
.event-table-section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.events-content p,
.ticket-pricing-section p,
.event-table-section p {
    font-size: 1.25em;
    text-align: center;
    padding: 0 50px 10px 50px;
}

/* Events Section Styling */
.events-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.events-content {
    text-align: center;
    padding: 0 50px;
    margin: 0;
}

/* Ticket Pricing Section Styling */
.ticket-pricing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Ticket Pricing Table Styling */
.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.pricing-cell-1,
.pricing-cell-2 {
    text-align: center;
    font-size: 1.25em;
    width: 150px;
    padding: 5px;
    border: 1px solid black;
}

.pricing-header {
    font-style: italic;
}

.pricing-cell-1 {
    background-color: #00AFB9;
    color: white;
    font-weight: bold;
}

.pricing-cell-2 {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

/* Event Table Styling - Desktop */
.event-table-section {
    background-color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-table-section .btn {
    margin-bottom: 20px;
}

.event-table {
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto 30px auto;
}

.event-table-header th {
    background-color: #00AFB9;
    color: white;
    font-weight: bold;
}

.event-table-event-listing {
    background-color: #f4f4f4;
}

.event-table th,
.event-table td {
    border: 1px solid black;
    padding: 5px;
    text-wrap: wrap;
    text-align: center;
    min-width: 150px;
}

/* Event Card Styling - Mobile */
.event-table-mobile {
    display: none;
}

.event-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background: white;
    text-align: center;
}

.event-card:hover {
    transform: translateY(-10px);
}

.event-card h4 {
    color: #00afb9;
    margin: 10px 0px;
    font-size: 1.2em;
    font-weight: 700;
}

.event-card h5 {
    margin: 10px 0px;
    font-size: 1em;
    font-weight: 400;
    color: #555;
    font-style: italic;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    header {
        width: 100%;
    }  

    .shortbanner {
        height: 20vh;
    }

    .shortbanner .content {
        width: 90%;
        margin: 50px auto 10px auto;
    }

    .shortbanner .content h1 {
        font-size: 2.5em;
        text-align: center;
        margin: 0px auto;
    }

    .shortbanner-description {
        display: none;
    }

    .events-section {
        padding: 25px 50px;
    }

    .events-content {
        margin: 0 auto;
        padding: 10px;
    }

    .event-table {
        display: none;
    }

    .event-table-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .event-card h4 {
        color: #00afb9;
        margin: 10px 0px;
        font-size: 1.25em;
        font-weight: 700;
        line-height: 1.2;
    }

    .event-card h5 {
        margin: 10px 0px;
        font-size: 1.2em;
        font-weight: 400;
        color: #555;
        font-style: italic;
    }

    .event-card p {
        font-size: 1.1em;
        padding: 0 25px;
    }
}

@media (max-width: 768px) {
    .events-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        margin: 0;
    }

    .events-section p {
        width: 100%;
        padding: 10px 20px;
    }

    .pricing table table, tbody, tr, td {
      display: block;
      width: 100%;
    }

    .pricing-header {
        display: none;
    }

    .event-table-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
