/* Services Section Styling */
.services-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.services-content {
    font-size: 1.2em;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
}

.services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.services-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background: white;
    text-align: center;
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card h4 {
    margin: 10px 0px;
    font-size: 1.2em;
    font-weight: 600;
}

.services-card h5 {
    margin: 10px 0px;
    font-size: 1em;
    font-weight: 400;
    color: #555;
    font-style: italic;
}
