/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p {
    font-size: 1em;
}

/* Class Level Styling */
.headerText {
    font-family: "Asul", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-transform: uppercase;
    color: #00afb9;
    letter-spacing: -2px;
    margin: 10px 0px 20px 0px;
}

.headerDesc {
    margin: 20px 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00AFB9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col50 {
    width: 50%;
    padding: 40px;
}

.col40 {
    width: 40%;
    padding: 40px 0px;
}

.imgbx img {
    height: 375px;
    width: 100%;
    object-fit: cover;
}

.uppercase {
    text-transform: uppercase;
}

/* Back to Top Button Styling */
.back-to-top-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.back-to-top-content p {
    margin-right: 10px;
}

#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #00AFB9;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
}

#myBtn:hover {
    background-color: #555;
}

/* Header | Navbar Styling */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: #00AFB9;
    background: linear-gradient(197deg, rgba(0, 175, 185, 1) 0%, rgba(0, 175, 185, 1) 25%, rgba(253, 252, 220, 1) 100%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
    font-size: 1.75rem;
}

.nav-links li a {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

#menu-toggle {
    display: none;
}

.logo {
    color: #595959;
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    font-size: 2.25rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2.25px;
}

/* Page Hero Section Banner Section Styling */
.shortbanner {
    width: 100vw;
    height: 40vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.pexels.com/photos/35736659/pexels-photo-35736659.jpeg");
}

.shortbanner h1 {
    font-size: 4em;
    margin-bottom: 20px;
    line-height: 1em;
    color: white;
}

/* Footer Section Styling */
.footer-section {
    background: #00AFB9;
    background: linear-gradient(197deg, rgba(0, 175, 185, 1) 0%, rgba(0, 175, 185, 1) 25%, rgba(253, 252, 220, 1) 100%);
    padding: 10px 100px;
    color: #fff;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
    font-size: 1.1em;
}

.footer-social-icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer-social-icon-container i {
    font-size: 1.5em;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

/* MOBILE DEVICE STYLING */
@media (max-width: 1024px) {
    .header {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    #menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #00AFB9;
        padding: 10px;
        border-radius: 5px;
    }

    .imgbx img {
        height: 250px;
    }

    .footer-section {
        width: 100%;
        margin-top: 10px;
    }
}
